/*---------------------------
    Publish
---------------------------*/

.publish-ico-area {
    padding: 110px 0 120px 0;
    .section-title {
        margin-bottom: 33px;
    }
}

.datepicker table {
    width: 320px;
    border-collapse: collapse;
}

.datepicker table td,
.datepicker table th {
    border: 1px solid #ddd;
}